package settings

import "github.com/ryanzola/dreampicai/view/layout"
import "github.com/ryanzola/dreampicai/types"

templ Index(user types.AuthenticatedUser) {
  @layout.App(true) {
    <div>
      <h1>Settings</h1>
      <p>Welcome to the settings page</p>
      <p>Hello, {user.Email}</p>
    </div>
  }
}